<!DOCTYPE html>
<html lang="en">
<head th:replace="~{common/general.html :: common-header}">
<body>
<h1>Add new car:</h1>
<p th:if="${errorMessage}" th:text="${errorMessage}"></p>
<form action="#" th:action="@{/addCar}" th:object="${car}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td>
                <input id="name" type="text" th:field="*{name}" name="name"/>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>
                <input id="age" type="text" th:field="*{age}" name="age"/>
                <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button id="submit" type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
