<!DOCTYPE html>
<html lang="en">
<head th:replace="~{common/general.html :: common-header}">
<body>
<h1>Update your car:</h1>
<p th:if="${errorMessage}" th:text="${errorMessage}"></p>
<p>Editing Car: [[${car.id}]]</p>
<form action="#" th:action="@{/editCar}" th:object="${car}" method="post">
    <input type="hidden" th:field="*{id}" />
    <table>
        <tr>
            <td>Name:</td>
            <td><input id="name" type="text" th:field="*{name}" name="name"/></td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input id="age" type="text" th:field="*{age}" name="age"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <button id="submit" type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>