<!DOCTYPE html>
<html lang="en">
<head th:replace="~{common/general.html :: common-header}">
</head>
<body>
<h1>Car list:</h1>
<p th:if="${successMessage}" th:text="${successMessage}"></p>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car, iterStat : ${cars}">
        <td th:text="${car.id}"></td>
        <td th:text="${car.name}"></td>
        <td th:text="${car.age}"></td>
        <td>
            <a th:id="'edit-' + (${iterStat.index} + 1)" th:href="@{/editCar/{id}(id=${car.id})}">Edit</a>
            <a th:id="'delete-' + (${iterStat.index} + 1)" th:href="@{/deleteCar/{id}(id=${car.id})}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a class="add-link" id="add-new-car" th:href="@{/addCar}">Add new car</a>
</body>
</html>
